# Admin
ADMIN_EMAIL=your-admin-email@example.com
ADMIN_PASSWORD=your-secure-password
ADMIN_SECRET=your-long-random-secret

# Vercel
VERCEL_TOKEN=

# Solana
SOLANA_NETWORK=devnet
ANCHOR_WALLET=

# Firebase
FIREBASE_KEY=

# OpenAI
OPENAI_KEY=
